.animation {

	&_fade {
		&_in {
			opacity: 1;
			transition: opacity .3s ease-in;
		}
		&_out {
			opacity: 0;
			transition: opacity .3s ease-out;
		}
	}


	&_from {
		&_top {
			animation: aFromTop .3s ease-in;
		}
		&_bottom {
			animation: aFromBottom .3s ease-in;
		}
		&_right {
			animation: aFromRight .3s ease-in;
		}
		&_left {
			animation: aFromLeft .3s ease-in;
		}
	}

	&_to {
		&_bottom {
			animation: aToBottom .3s ease-in;
		}
		&_top {
			animation: aToTop .3s ease-in;
		}
		&_left {
			animation: aToLeft .3s ease-in;
		}
		&_right {
			animation: aToRight .3s ease-in;
		}
	}

	&_shake {
		&_horizontal {
			animation: aShakeHorizontal .5s ease;
		}
		&_radial {
			animation: aShakeRadial .5s ease;
		}
	}
}

@keyframes aFromTop {
	from {
		transform: translateY(-100vh);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes aFromBottom {
	from {
		transform: translateY(100vh);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes aFromRight {
	from {
		transform: translateX(100vh);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes aFromLeft {
	from {
		transform: translateX(-100vh);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes aToBottom {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100vh);
	}
}
@keyframes aToTop {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100vh);
	}
}
@keyframes aToLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100vh);
	}
}
@keyframes aToRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100vh);
	}
}

@keyframes aShakeHorizontal {
	20% {
		transform: translateX(15px);
	}
	40% {
		transform: translateX(-15px);
	}
	60% {
		transform: translateX(12px);
	}
	80% {
		transform: translateX(-12px);
	}
	100% {
		transform: translateX(7px);
	}
}
@keyframes aShakeRadial {
	20% {
		transform: rotate(5deg);
	}
	40% {
		transform: rotate(-5deg);
	}
	60% {
		transform: rotate(3deg);
	}
	80% {
		transform: rotate(-3deg);
	}
	100% {
		transform: rotate(1deg);
	}
}